/* ========== PAGE SETTINGS  ========== */
:root {
  --bg-color: #F2F2F2;        /* Background */
  --card-bg: #E5E5E5;         /* Card backgrounds */
  --accent: #FFCC00;          /* Yellow accent */
  --text-main: #111111;       /* Black text */
  --text-sub: #555555;        /* Subtext gray */
  --shadow: rgba(0, 0, 0, 0.1);
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-main);
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}


/* ========== NAVBAR ========== */
.navbar {
  background: var(--accent);
  box-shadow: 0 2px 10px var(--shadow);
  padding: 15px 40px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 180px;
}

.nav-links {
  display: none;
}

.hamburger-menu {
  font-size: 30px;
}

/* banner image */
.banner-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* ========== FORM ========== */
.title {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.container {
  background-color: #f2f2f2;
  padding: 0px 20px 20px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=email] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color: var(--accent);
  color: var(--text-main);
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFD633;
  color: var(--bg-color);
  transform: scale(1.05);
}




/* ========== BREAKPOINT ========== */
@media (min-width: 800px){
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.logo img {
  width: 250px;
}

.hamburger-menu {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--bg-color);
}

.title {
  font-size: 25px;
}

}


































/* ========== FOOTER ========== */
.footer {
  background: var(--accent);
  box-shadow: 0 2px 10px var(--shadow);
  padding: 10px 40px;
  text-align: center;
}


.links {
  display: block;
  justify-content: space-between;
  align-items: center;
 
}

.foot-links ul {
  display: flex;
  justify-content: center; 
  list-style: none;
  gap: 30px;
  padding: 0;
  gap: 10px;
}

footer p { 
  display: flex;
  justify-content: center;
}

.social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  gap: 30px;
  margin: 20px;
}

.social-links i {
  color: var(--text-main);
}


.foot-links a {
  color: var(--text-main);
  font-weight: 300;
}

.foot-links a:hover {
  color: var(--bg-color);
}



