/* ========== PAGE SETTING  ========== */
:root {
  --bg-color: #F2F2F2;        /* Background */
  --card-bg: #E5E5E5;         /* Card backgrounds */
  --accent: #FFCC00;          /* Yellow accent */
  --text-main: #111111;       /* Black text */
  --text-sub: #555555;        /* Subtext gray */
  --shadow: rgba(0, 0, 0, 0.1);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--text-main);
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
}


* {
  box-sizing: border-box;
}


/* ========== NAVBAR ========== */
.navbar {
  background: var(--accent);
  box-shadow: 0 2px 10px var(--shadow);
  padding: 15px 40px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-weight: 800;
  font-size: 1.5rem;
}

.nav-links {
 display: none;
}

.hamburger-menu {
  font-size: 30px;
}

/* ========== PAGE TITLE ========== */
main h1 {
  padding-left: 30px;
  font-size: 20px;
  margin: 30px 0px 0px 0px;
}

/* ========== PRODUCTS GRID ========== */
#product-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  padding: 30px;
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.product-card {
  background-color: var(--card-bg);
  padding-bottom: 20px;
  box-shadow: 0 4px 10px var(--shadow);
  
}

.product-card h3, p, span {
  padding: 0px 15px 0px 15px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px var(--shadow);
}


.product-card button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: var(--accent);
  color: var(--text-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
    background: var(--bg-color);
    color: var(--accent);
}


/* ========== BREAKPOINT ========== */
@media (min-width: 800px){
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-main);
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--bg-color);
}

.hamburger-menu {
  display: none;
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 30px;
}

}


/* ========== FOOTER ========== */
.footer {
  background: var(--accent);
  box-shadow: 0 2px 10px var(--shadow);
  padding: 10px 40px;
  text-align: center;
}


.links {
  display: block;
  justify-content: space-between;
  align-items: center;
 
}

.foot-links ul {
  display: flex;
  justify-content: center; 
  list-style: none;
  gap: 30px;
  padding: 0;
  gap: 10px;
}

footer p { 
  display: flex;
  justify-content: center;
}

.social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  gap: 30px;
  margin: 20px;
}

.social-links i {
  color: var(--text-main);
}

.foot-links a {
  color: var(--text-main);
  font-weight: 300;
}

.foot-links a:hover {
  color: var(--bg-color);
}